DATABRICKS_TOKEN=tu_token_model_serving
DATABRICKS_ENDPOINT_URL=https://adb-xxxxxxxxxxxxxxx.x.azuredatabricks.net/serving-endpoints/cardio-classifier-endpoint/invocations

DATABRICKS_SQL_HOST=adb-xxxxxxxxxxxxxxx.x.azuredatabricks.net
DATABRICKS_SQL_PATH=/sql/1.0/warehouses/xxxxxxxxxxxxxxxx
DATABRICKS_SQL_TOKEN=tu_token_sql_warehouse
DATABRICKS_CATALOG=databricks_service_pf
DATABRICKS_SCHEMA=gold

PORT=8000
